<div class="container">
  <div class="header-list">
    <h1>Lists</h1>
  </div>

  <%= link_to "New list", new_list_path, class:'button-green' %>

  <div id="lists">
    <% @lists.each do |list| %>
      <%= render list %>
      <p>
        <%= link_to "Show this list", list %>
      </p>
    <% end %>
  </div>
</div>
