<div class="container">
  <div class="header-list">
    <h1>Lists</h1>
  </div>

  <%= link_to "New list", new_list_path, class:'button-green' %>

  <div class="container-list">
    <% @lists.each do |list| %>
      <div class="list-card">
        <%= render list %>
        <p>
          <%= link_to "Show this list", list %>
        </p>
      </div>
    <% end %>
  </div>
</div>
